@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Serif+Balinese&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@500;600;700&family=Roboto:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root,
#__next {
  isolation: isolate;
}

input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --_bgc: #52b788;
  --_form: #1a271d;
  --_ff1: "Poppins", sans-serif;
  --_ff2: "Roboto", sans-serif;
  --_ff3: "Open sans", sans-serif;
  --_ff4: "Noto Serif Balinese", serif;
  --_ff5: "Montserrat", sans-serif;
  --_input-radius: 0.2rem;
  --_display: rgb(255, 200, 0);
}

body {
  background-color: var(--_bgc);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-section form {
  display: flex;
  flex-direction: column;
  background-color: var(--_form);
  padding: 2rem 0 0 0;
  gap: 1.5rem;
  color: white;
  width: 100%;
  max-width: 350px;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.form-section form .form-control,
.form-section form button[type=submit] {
  --_value: 80%;
  max-width: var(--_value);
  margin-left: calc((100% - var(--_value)) / 2);
}
.form-section form .form-control {
  display: flex;
  flex-direction: column;
}
.form-section form .form-control label {
  font-family: var(--_ff1);
  font-weight: 500;
  transition: transform 0.5s ease;
  font-size: 0.875rem;
}
.form-section form .form-control label span {
  color: rgb(242, 16, 16);
}
.form-section form .form-control input[type=number] {
  border-radius: var(--_input-radius);
  height: 35px;
  border: none;
  padding-inline: 0.5rem;
  font-family: var(--_ff1);
}
.form-section form .form-control input[type=number]::placeholder {
  font-family: var(--_ff1);
}
.form-section form .form-control input[type=number]:focus-visible {
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: 3px;
}
.form-section form .form-control:focus-within > label {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}
.form-section form .form-control input.allowanceTaxable,
.form-section form .form-control input.pension {
  max-width: 60px;
}
.form-section form button[type=submit] {
  border: none;
  background-color: white;
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: var(--_input-radius);
  padding: 0.5rem 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--_ff1);
  font-weight: 600;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.form-section form .salaryDisplay.show-drop {
  max-height: 500px;
  padding: 2rem;
  transition: max-height 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.form-section form .salaryDisplay.show-drop .monthly,
.form-section form .salaryDisplay.show-drop .annually {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.form-section form .salaryDisplay {
  background-color: var(--_display);
  background: radial-gradient(ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: #000;
  font-family: var(--_ff4);
  display: grid;
  gap: 1rem;
  max-height: 0px;
  transition: max-height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.form-section form .salaryDisplay .monthly,
.form-section form .salaryDisplay .annually {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.form-section form .salaryDisplay .monthly h2,
.form-section form .salaryDisplay .annually h2 {
  font-size: 1.1rem;
  font-style: italic;
}
.form-section form .salaryDisplay .monthly p,
.form-section form .salaryDisplay .annually p {
  margin-left: auto;
  font-family: var(--_ff5);
  font-weight: 900;
  font-size: 1.3rem;
}
.form-section form .salaryDisplay hr {
  border: 1px dashed rgba(0, 0, 0, 0.8);
}
