*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#root,
#__next {
  isolation: isolate;
}

input,
button,
textarea,
select {
  font: inherit;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
}

label + input {
  margin-left: 0.5rem;
}

.allowanceTaxable {
  max-width: 60px;
}
